@font-face {
  font-family: "iconfont"; /* Project id 3360184 */
  src: url('../font/iconfont.woff2?t=1659106960643') format('woff2'),
       url('../font/iconfont.woff?t=1659106960643') format('woff'),
       url('../font/iconfont.ttf?t=1659106960643') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bxs-to-top:before {
  content: "\e6e0";
}

.icon-shiguan:before {
  content: "\e9d2";
}

.icon-huaxue-2:before {
  content: "\e684";
}

.icon-xiangyou-jiantou:before {
  content: "\e779";
}

.icon-yejinkuangchan:before {
  content: "\e6f3";
}

.icon-yiliaoqixie:before {
  content: "\e63f";
}

.icon-shui:before {
  content: "\e66c";
}

.icon-hangkonghangtian:before {
  content: "\e64e";
}

.icon-chongwuxiaodu:before {
  content: "\e61a";
}

.icon-ziyuan20:before {
  content: "\e60f";
}

.icon-kekaoxingfenxi:before {
  content: "\e61b";
}

.icon-youdu:before {
  content: "\e673";
}

.icon-yulan:before {
  content: "\e852";
}

.icon-dizhi2:before {
  content: "\e60e";
}

.icon-youhuitaocan:before {
  content: "\e712";
}

.icon-shouji:before {
  content: "\e606";
}

.icon-xia:before {
  content: "\e632";
}

.icon-dianhua5:before {
  content: "\e671";
}

.icon-zixun1:before {
  content: "\e662";
}

.icon-youxiang1:before {
  content: "\e607";
}

.icon-lianxifangshi:before {
  content: "\e6f0";
}

.icon-chenggonganli:before {
  content: "\e633";
}

.icon-xinwenyingxiaoxinwenzhuanxie:before {
  content: "\e636";
}

.icon-liuyan1:before {
  content: "\e62e";
}

.icon-fanhui:before {
  content: "\e634";
}

.icon-heyan:before {
  content: "\e612";
}

.icon-youxiang2:before {
  content: "\e647";
}

.icon-chakan:before {
  content: "\e62f";
}

.icon-shijian:before {
  content: "\e615";
}

.icon-hetongfukuan:before {
  content: "\e60a";
}

.icon-shijian1:before {
  content: "\e618";
}

.icon-changjianwenti:before {
  content: "\e675";
}

.icon-liuyan2:before {
  content: "\e60b";
}

.icon-weituoguanli:before {
  content: "\e640";
}

.icon-wodeliucheng:before {
  content: "\e64d";
}

.icon-baogao:before {
  content: "\e635";
}

.icon-mingcheng:before {
  content: "\e9f8";
}

.icon-qq2:before {
  content: "\e61d";
}

.icon-newest_:before {
  content: "\e6a1";
}

.icon-shouqi:before {
  content: "\e613";
}

.icon-dizhi1:before {
  content: "\e814";
}

.icon-menu_swgs:before {
  content: "\e659";
}

.icon-a-shangyipianfuben2:before {
  content: "\e619";
}

.icon-igw-f-role:before {
  content: "\e61f";
}

.icon-biaozhun-copy:before {
  content: "\e645";
}

.icon-dianhua3:before {
  content: "\e62a";
}

.icon-youxiang:before {
  content: "\e605";
}

.icon-fuwuduixiang:before {
  content: "\e623";
}

.icon-jiliangbiaozhun:before {
  content: "\e6ef";
}

.icon-dizhi:before {
  content: "\e646";
}

.icon-shipin:before {
  content: "\e668";
}

.icon-xiazai:before {
  content: "\e6ca";
}

.icon-shengming:before {
  content: "\e84f";
}

.icon-rongyuzizhi:before {
  content: "\e6af";
}

.icon-tousujubao:before {
  content: "\e6bb";
}

.icon-tousujubao1:before {
  content: "\e6eb";
}

.icon-wangluo1:before {
  content: "\e68b";
}

.icon-gongkaishengming:before {
  content: "\e754";
}

.icon-shijianzhouqi:before {
  content: "\e996";
}

.icon-jianding:before {
  content: "\e6a2";
}

.icon-huanbaoxinxi:before {
  content: "\e609";
}

.icon-shengwuyiyao:before {
  content: "\e64c";
}

.icon-Vrenzheng:before {
  content: "\e669";
}

.icon-shebeijiliangxiaozhunjihua:before {
  content: "\f401";
}

.icon-dianhua:before {
  content: "\e60d";
}

.icon-nongchanpin:before {
  content: "\e6ac";
}

.icon-fanghuomibitaizhang:before {
  content: "\e65f";
}

.icon-dianhua1:before {
  content: "\e649";
}

.icon-jiantou-copy-copy:before {
  content: "\e60c";
}

.icon-liuyan:before {
  content: "\e638";
}

.icon-mifengjiao:before {
  content: "\e627";
}

.icon-dingzhi:before {
  content: "\e7a6";
}

.icon-chaxun:before {
  content: "\e64f";
}

.icon-dianzidianqi:before {
  content: "\e64a";
}

.icon-chongwuyiliao:before {
  content: "\e616";
}

.icon-shiyouhuagong:before {
  content: "\e737";
}

.icon-rongyubiaozhang:before {
  content: "\e600";
}

.icon-wuzhihuanjingjiance:before {
  content: "\e611";
}

.icon-huabanfuben:before {
  content: "\e63b";
}

.icon-yizhanshifuwu:before {
  content: "\e62d";
}

.icon-zaixiankefu:before {
  content: "\ea6f";
}

.icon-qq:before {
  content: "\e614";
}

.icon-dianhua2:before {
  content: "\e610";
}

.icon-zaixianzixun:before {
  content: "\e648";
}

.icon-zongjituan:before {
  content: "\e697";
}

.icon-zaixianzixun1:before {
  content: "\e63d";
}

.icon-qq1:before {
  content: "\e629";
}

.icon-POI-jiaoyu-gaoxiao:before {
  content: "\e6b7";
}

.icon-ziyuan:before {
  content: "\e64b";
}

.icon-guidaojiaotong:before {
  content: "\e738";
}

.icon-shiyanshijieshaox:before {
  content: "\e630";
}

.icon-chuguan:before {
  content: "\e82e";
}

.icon-gfjianzhuwu:before {
  content: "\e7cb";
}

.icon-yanzheng:before {
  content: "\e63c";
}

.icon-sds_di17leixiangjiaozhipin:before {
  content: "\e617";
}

.icon-dulitixi-copy-copy-copy-copy:before {
  content: "\e601";
}

.icon-zuo:before {
  content: "\e602";
}

.icon-cailiaogaofenzichengfen:before {
  content: "\e603";
}

.icon-network-full:before {
  content: "\e95f";
}

.icon-kuaisugaoxiao:before {
  content: "\e991";
}

.icon-yejinkuangchanyuhuagongpin:before {
  content: "\e79b";
}

.icon-dianxiandianlan:before {
  content: "\e6de";
}

.icon-huaxueyuanliaohehuaxuezhipinzhizaoye:before {
  content: "\e713";
}

.icon-baomo:before {
  content: "\e608";
}

.icon-zhengtitubiaosvg_huanbaoyanghu:before {
  content: "\e631";
}

.icon-gaixingsuliao:before {
  content: "\e604";
}

.icon-qinggongzhizao:before {
  content: "\e674";
}

.icon-yiqishebei:before {
  content: "\e625";
}

