<div class="n_nav">
    <div class="g_w">
        <div class="n_nav_con">
            <a href="https://www.std.cn/shengming.php" target="_blank">
                <div>
                    <i class="iconfont icon-heyan"></i>
                    <span>报告核验平台</span>
                </div>
            </a>
            <a href="http://chaxun.sitande.com:18899/#/" target="_blank">
                <div>
                    <i class="iconfont icon-chaxun"></i>
                    <span>委托单查询</span>
                </div>
            </a>
            <a class="<?php if ($module_nav == 'test_application'){echo 'active';}?>" href="<?php echo site_url('test_application');?>">
                <div>
                    <i class="iconfont icon-baogao"></i>
                    <span>测试申请表下载</span>
                </div>
            </a>
            <a class="<?php if ($module_nav == 'flow'){echo 'active';}?>" href="<?php echo site_url('flow');?>">
                <div>
                    <i class="iconfont icon-wodeliucheng"></i>
                    <span>服务流程</span>
                </div>
            </a>
            <a class="<?php if ($module_nav == 'question'){echo 'active';}?>" href="<?php echo site_url('question');?>">
                <div>
                    <i class="iconfont icon-changjianwenti"></i>
                    <span>常见问题</span>
                </div>
            </a>
            <a class="<?php if ($module_nav == 'cases'){echo 'active';}?>" href="<?php echo site_url('cases');?>">
                <div>
                    <i class="iconfont icon-chenggonganli"></i>
                    <span>成功案例</span>
                </div>
            </a>

            <a class="<?php if ($module_nav == 'discount_package'){echo 'active';}?>" href="<?php echo site_url('discount_package');?>">
                <div>
                    <i class="iconfont icon-youhuitaocan"></i>
                    <span>优惠套餐</span>
                </div>
            </a>
            <a class="<?php if ($module_nav == 'news'){echo 'active';}?>" href="<?php echo site_url('news');?>">
                <div>
                    <i class="iconfont icon-newest_"></i>
                    <span>新闻资讯</span>
                </div>
            </a>
        </div>
    </div>
</div>