<div class="n_nav">
    <div class="g_w">
        <div class="n_nav_con">
            <a class="<?php if ($module_nav == 'profile'){echo 'active';}?>" href="<?php echo site_url('about');?>">
                <div>
                    <i class="icon" style="background-image: url('<?php echo $base_url;?>uploads/images/icon3.png')"></i>
                    <span>集团简介</span>
                </div>
            </a>
            <a class="<?php if ($module_nav == 'disclaimer'){echo 'active';}?>" href="<?php echo site_url('about/disclaimer');?>">
                <div>
                    <i class="iconfont icon-gongkaishengming"></i>
                    <span>免责声明</span>
                </div>
            </a>
            <a class="divLink <?php if ($module_nav == ''){echo 'active';}?>" href="<?php echo site_url('about');?>#link3">
                <div>
                    <i class="iconfont icon-rongyuzizhi"></i>
                    <span>荣誉资质</span>
                </div>
            </a>
            <a class="<?php if ($module_nav == 'complaints'){echo 'active';}?>" href="<?php echo site_url('about/complaints');?>">
                <div>
                    <i class="iconfont icon-tousujubao"></i>
                    <span>投诉举报</span>
                </div>
            </a>
            <a class="<?php if ($module_nav == 'standard'){echo 'active';}?>" href="<?php echo site_url('standard');?>">
                <div>
                    <i class="iconfont icon-biaozhun-copy"></i>
                    <span>计量标准证书</span>
                </div>
            </a>
            <a class="<?php if ($module_nav == 'statement'){echo 'active';}?>" href="<?php echo site_url('about/statement');?>">
                <div>
                    <i class="iconfont icon-jiliangbiaozhun"></i>
                    <span>公正性和诚信声明</span>
                </div>
            </a>
            <a class="divLink <?php if ($module_nav == ''){echo 'active';}?>" href="<?php echo site_url('about');?>#link2">
                <div>
                    <i class="iconfont icon-network-full"></i>
                    <span>服务网络</span>
                </div>
            </a>
        </div>
    </div>
</div>