<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<?php echo $seo_keywords;?>"/>
    <meta name="description" content="<?php echo $seo_description;?>"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">-->
    <title><?php echo $seo_title;?></title>
    <link rel="stylesheet" href="<?php echo $base_url;?>uploads/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo $base_url;?>uploads/css/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="<?php echo $base_url;?>uploads/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $base_url;?>uploads/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $base_url;?>uploads/css/fullpage.css"/>
    <link rel="stylesheet" href="<?php echo $base_url;?>uploads/css/global_css.css">
    <link rel="stylesheet" href="<?php echo $base_url;?>uploads/css/demo.css">
    <link rel="stylesheet" href="<?php echo $base_url;?>uploads/css/dome.css">
</head>

<body>
<?php echo $contact['nav'];?>
<div class="g_body n_body n_zy n_zy5">
    <div class="n_banner">
        <div class="g_bg" style="background-image: url('<?php echo $path.'banner_n/thumb/'.$contact['banner_n']['thumb'];?>')"></div>
        <div class="text">
            <div class="g_w">
                <strong class="wow fadeInUp"><?php echo $contact['banner_n']['title3'];?></strong>
                <b class="wow fadeInUp" data-wow-delay=".3s"><?php echo $contact['banner_n']['title4'];?></b>
                <span class="wow fadeInUp" data-wow-delay=".5s"><?php echo $contact['banner_n']['title5'];?></span>
            </div>
        </div>
    </div>
    <?php echo $contact['nav_resource'];?>
    <div class="n_con">
        <div class="con1">
            <div class="g_w">
                <div class="i_title">
                    <span>常见问题</span>
                </div>
                <div class="list">
                    <?php if (!empty($list)) {
                    foreach ($list as $v) { ?>
                    <div class="item">
                        <div class="top">
                            <div class="title"><?php echo $v['title1'];?></div>
                            <div class="item_btn">
                                <i class="iconfont icon-zuo g_gradient1"></i>
                                <span class="btn_close">收起</span>
                                <span class="btn_open">展开</span>
                            </div>
                        </div>
                        <div class="text">
                            <?php echo $v['content1'];?>
                        </div>
                    </div>
                    <?php }
                    }?>
                </div>
                <div class="fenye">
                    <?php if ($pre) { ?>
                    <a href="<?php echo $pre_url;?>"><i class="iconfont icon-zuo"></i></a>
                    <?php if ($less) { ?>
                    <a href="<?php echo $less_url;?>"><?php echo $less;?></a>
                    <a href="<?php echo $pre_url;?>"><?php echo $pre;?></a>
                    <?php } else { ?>
                    <a href="<?php echo $pre_url;?>"><?php echo $pre;?></a>
                    <?php }
                    } else { ?>
                    <a class="cur zuo" href="javascript:;"><i class="iconfont icon-zuo"></i></a>
                    <?php }?>
                    <a href="javascript:;" class="active"><?php echo $page;?></a>
                    <?php if ($next) {
                    if ($more) { ?>
                    <a href="<?php echo $next_url;?>"><?php echo $next;?></a>
                    <a href="<?php echo $more_url;?>"><?php echo $more;?></a>
                    <a href="<?php echo $next_url;?>"><i class="iconfont icon-zuo"></i></a>
                    <?php } else { ?>
                    <a href="<?php echo $next_url;?>"><?php echo $next;?></a>
                    <a href="<?php echo $next_url;?>"><i class="iconfont icon-zuo"></i></a>
                    <?php }
                    } else { ?>
                    <a class="cur" href="javascript:;"><i class="iconfont icon-zuo"></i></a>
                    <?php }?>
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo $contact['nav_footer'];?>
<script type="text/javascript" src="<?php echo $base_url;?>uploads/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="<?php echo $base_url;?>uploads/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<?php echo $base_url;?>uploads/js/swiper-4.2.6.min.js"></script>
<script type="text/javascript" src="<?php echo $base_url;?>uploads/js/swiper.animate1.0.3.min.js"></script>
<script type="text/javascript" src="<?php echo $base_url;?>uploads/js/wow.min.js"></script>
<script type="text/javascript" src="<?php echo $base_url;?>uploads/js/hc-mobile-nav.js"></script>
<script type="text/javascript" src="<?php echo $base_url;?>uploads/js/global.js"></script>
<script>

$('.item_btn').click(function () {
    var $item =  $(this).parents('.item');
   if($item.hasClass('active')){
       $item.removeClass('active')
   }else {
       $item.addClass('active')
   }
})
</script>

</body>

</html>
