<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="<?php echo $seo_keywords;?>"/>
    <meta name="description" content="<?php echo $seo_description;?>"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">-->
    <title><?php echo $seo_title;?></title>
    <link rel="stylesheet" href="<?php echo $base_url;?>uploads/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo $base_url;?>uploads/css/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="<?php echo $base_url;?>uploads/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $base_url;?>uploads/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="<?php echo $base_url;?>uploads/css/fullpage.css"/>
    <link rel="stylesheet" href="<?php echo $base_url;?>uploads/css/global_css.css">
    <link rel="stylesheet" href="<?php echo $base_url;?>uploads/css/demo.css">
    <link rel="stylesheet" href="<?php echo $base_url;?>uploads/css/dome.css">
</head>

<body>
<?php echo $contact['nav'];?>
<div class="g_body n_fa1">
    <div class="n_banner">
        <div class="g_bg" style="background-image: url('<?php echo $path.'banner_n/thumb/'.$contact['banner_n']['thumb'];?>')"></div>
        <div class="text">
            <div class="g_w">
                <strong class="wow fadeInUp"><?php echo $contact['banner_n']['title3'];?></strong>
                <b class="wow fadeInUp" data-wow-delay=".3s"><?php echo $contact['banner_n']['title4'];?></b>
                <span class="wow fadeInUp" data-wow-delay=".5s"><?php echo $contact['banner_n']['title5'];?></span>
            </div>
        </div>
    </div>
    <div class="n_con">
        <div class="con1">
            <div class="g_w">
                <div class="list">
                    <?php if (!empty($category)) {
                    foreach ($category as $v) { ?>
                    <div class="item g_r">
                        <a href="<?php echo $v['short_url'];?>">
                            <div class="con_l">
                                <div class="text">
                                    <i class="iconfont icon-chongwuyiliao"></i>
                                    <div class="title"><?php echo $v['title1'];?></div>
                                    <p>
                                        <?php echo $v['description1'];?>
                                    </p>
                                    <span class="more g_r g_gradient1_r">查看详情</span>
                                </div>
                            </div>
                            <div class="con_r">
                                <div class="img">
                                    <div class="g_bg" style="background-image: url('<?php echo $path.'solution/category/'.$v['thumb'];?>')"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <?php }
                    }?>

                </div>
                <div class="fenye">
                    
                </div>
            </div>

        </div>
        <div class="con2 n_fa_bottom">
            <div class="g_w">
                <div class="top">
                    <div class="tab_nav">
                        <a class="active" href="javascript:;">
                            <span>优惠套餐</span>
                        </a>
                        <a href="javascript:;">
                            <span>成功案例</span>
                        </a>
                        <a href="javascript:;">
                            <span>在线下载</span>
                        </a>
                    </div>
                    <div class="btn_view">
                        <a class="g_btn active" href="<?php echo site_url('discount_package');?>">
                            <span class="g_r g_gradient1_r">查看更多</span>
                        </a>
                        <a class="g_btn" href="<?php echo site_url('cases');?>">
                            <span class="g_r g_gradient1_r">查看更多</span>
                        </a>
                        <a class="g_btn" href="<?php echo site_url('standard');?>">
                            <span class="g_r g_gradient1_r">查看更多</span>
                        </a>
                    </div>
                </div>
                <div class="tab_body">
                    <div class="tab_con active">
                        <div class="list">
                            <?php if (!empty($discount_package)) {
                            foreach ($discount_package as $v) { ?>
                            <div class="item_yh">
                                <a href="<?php echo $v['short_url'];?>">
                                    <span><?php echo $v['title2'];?></span>
                                    <div class="title"><?php echo $v['title1'];?></div>
                                    <em><i class="iconfont icon-xiangyou-jiantou"></i>查看更多</em>
                                </a>
                            </div>
                            <?php }
                            }?>
                        </div>

                    </div>
                    <div class="tab_con ">
                        <div class="list">
                            <?php if (!empty($cases)) {
                            foreach ($cases as $v) { ?>
                            <div class="item_yh">
                                <a href="<?php echo $v['short_url'];?>">
                                    <span>成功案例</span>
                                    <div class="title"><?php echo $v['title1'];?></div>
                                    <em><i class="iconfont icon-xiangyou-jiantou"></i>查看更多</em>
                                </a>
                            </div>
                            <?php }
                            }?>
                        </div>

                    </div>
                    <div class="tab_con ">
                        <div class="list">
                            <?php if (!empty($standard)) {
                            foreach ($standard as $v) { ?>
                            <div class="item_yh">
                                <a href="<?php echo site_url('standard/download/'.$v['id']);?>">
                                    <span>在线下载</span>
                                    <div class="title"><?php echo $v['title1'];?></div>
                                    <em><i class="iconfont icon-xiangyou-jiantou"></i>点击下载</em>
                                </a>
                            </div>
                            <?php }
                            }?>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php echo $contact['nav_footer'];?>
<script type="text/javascript" src="<?php echo $base_url;?>uploads/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="<?php echo $base_url;?>uploads/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<?php echo $base_url;?>uploads/js/swiper-4.2.6.min.js"></script>
<script type="text/javascript" src="<?php echo $base_url;?>uploads/js/swiper.animate1.0.3.min.js"></script>
<script type="text/javascript" src="<?php echo $base_url;?>uploads/js/wow.min.js"></script>
<script type="text/javascript" src="<?php echo $base_url;?>uploads/js/hc-mobile-nav.js"></script>
<script type="text/javascript" src="<?php echo $base_url;?>uploads/js/global.js"></script>
<script>

    $('.tab_nav a').click(function () {
        var i = $(this).index();
        $(this).addClass('active').siblings().removeClass('active');
        $('.btn_view a').eq(i).addClass('active').siblings().removeClass('active');
        $('.tab_body .tab_con').eq(i).addClass('active').siblings().removeClass('active');
    })
</script>

</body>

</html>
